.sidebarWrapper{max-width: 20% ;flex: 0 0 20%;}

.rightContent{max-width: 80% ;flex :0 0 80%}
.rightContent .item .productThumb .info1 .d-flex button{margin-left: 10px;}
.rightContent .topstrip{padding: 0px 30px;}
.rightContent .topstrip p{font-size: 20px;}
.rightContent .topstrip .part2{margin-left: auto !important;}
.rightContent .topstrip .tab{margin-left: 20px ; width:auto;}
.rightContent .topstrip .tab .btn_{background: none !important;border: 1px solid rgba(0,0,0,0.7) !important;padding: 7px 20px !important;text-transform: capitalize !important;color:black !important;border-radius: 5px; width: 100%;}

.rightContent .topstrip .dropMenu{z-index: 5000;top:100% !important}
.rightContent .pl-3{padding-top: 0px !important;}